.cta {
  position: relative;
  background-color: var(--clr-light-coral);
  padding-top: 7.6rem;
  padding-bottom: 7.6rem;
  overflow: hidden;
  z-index: 1;
}
.cta__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cta__title {
  font-size: var(--fs-h2);
  color: var(--clr-sacramento-state-green);
}

.bg__pattern__cta {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.footer {
  background-color: var(--clr-dark-green);
}

.footer__container {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
  display: flex;
}

.footer__left {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 2rem;
}

.footer__left__items {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.nav__links a {
  font-size: var(--fs-body1);
  line-height: var(--lh-body2);
  color: var(--clr-white);
  margin-right: 4rem;
  margin-left: 0;
}

.nav__links a:hover {
  color: var(--clr-light-coral);
}

.footer__center {
  margin-left: 12rem;
}

.address-line {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  font-size: var(--fs-body2);
  opacity: 60%;

  color: var(--clr-white);
}

.footer__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 7.5rem;
  padding: 0.5rem;
}

.social__links {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.copyright {
  font-size: var(--fs-body2);
  opacity: 60%;
}
