@import "./main.css";

.main {
  margin-top: 1.29rem;
  margin-bottom: 25rem;
}
.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.main__title__box {
  flex: 1;
}
.main__title {
  font-size: 10rem;
  line-height: normal;
}
.main__title_highlight {
  color: var(--clr-light-coral);
}
.main__desk__box {
  flex: 1;
  padding-top: 8.3rem;
}
.main__desk {
  font-size: var(--fs-body1);
}

/* benefits */

.benefits {
  background-color: var(--clr-sacramento-state-green);
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.benefits__container {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}

.benefits__title__box {
  flex: 1;
}

.benefits__heading {
  font-size: var(--fs-h2);
  line-height: normal;
}

.benefits__info_box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.benefits__items {
  display: flex;
  align-items: center;
  gap: 2.3rem;
}

.benefits__icon {
  width: 72px;
  height: 72px;
  flex-shrink: 0;
}

.benefits__content {
  display: flex;
  flex-direction: column;
}

.benefits__title {
  font-size: var(--fs-h3);
  line-height: var(--lh-body2);
  color: var(--clr-light-coral);
}

.benefits__desc {
  font-size: var(--fs-body2);
  line-height: var(--lh-body2);
  opacity: 0.8;
}

/* testemonials */

.testemonials {
  padding-top: 14rem;
  padding-bottom: 14rem;
  background-image: url("../assets/bg-pattern-home-4-about-3.svg");
  background-repeat: no-repeat;
  background-position: top left;
}
.testemonials__container {
}

.testemonials__title {
  font-size: 4.8rem;
  width: 100%;
  max-width: 932px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  line-height: normal;
  margin-bottom: 5.6rem;
}

.testemonials__list {
  display: flex;
  align-items: flex-start;
  text-align: center;
  gap: 3rem;
}
.testimonials__item {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/icon-quotes.svg");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 3.3rem;
}
.testimonailas__description {
  margin-bottom: 2.4rem;
}
.testimonials__name {
  margin: 0;
  padding: 0;
  color: var(--clr-rapture-blue);
}
.testemonials__positon {
  margin-bottom: 3rem;
  font-style: italic;
  font-weight: 400;
}
.testemonials__avatar {
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  border: solid 2px #c4fffe;
}
